<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <title>store | items</title>
</head>
<body>
    <ul>
        <% objects_array.forEach((object) => {
            for (var key in object.dataValues){
                if (object.dataValues.hasOwnProperty(key)){%>
                    <li><%= key %>:  <%= object[key] %></li>
                <%}
            }%>
            <br/><br/>
        <%}) %>
    </ul>
</body>
</html>